{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        AgendAI
    </title>
    <link rel="stylesheet" type= "text/css" href="{% static 'myPWA/style.css' %}">
    <link href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            rel="stylesheet">

    <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
    type="text/javascript">

    </script>

    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    </script>
</head>

<body>

       <!-- <div class="tab">                                                                           -->
       <!--     <button class="tablinks" onclick="openCity(event, 'Scanner')">Scanner</button>          -->
       <!--     <button class="tablinks" onclick="openCity(event, 'Calendrier')">Calendrier</button>    -->
       <!--                                                                                             -->
       <!-- <div>                                                                                       -->


    <div id = "Scanner" style="width: 500px" class="tabcontent"></div>

    <script src="{% static 'myPWA/html5-qrcode.min.js' %}"></script>
    <script type="text/javascript">
        function onScanSuccess(qrCodeMessage) {
                alert(qrCodeMessage);
        }

        var html5QrcodeScanner = new Html5QrcodeScanner(
            "Scanner", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
    </script>
    <br>
            <br>
            <br>
            <br><!--Agenda-->
                   <div id="Calendrier" class="container tabcontent">

                        <div class="calendar">

                            <header>

                                <h2>février</h2>

                            <a class="btn-prev fontawesome-angle-left" href="#"></a>
                            <a class="btn-next fontawesome-angle-right" href="#"></a>
                                <div class="containerrdv">
                            <p>Votre prochain rendez-vous : <br>
                                <strong>Le mardi 9 février, vous avez rendez-vous chez le dentiste à 15h30</strong></p>
                                    </div>
                            </header>

                            <table>

                            <thead>

                                <tr>

                                <td>lu</td>
                                <td>ma</td>
                                <td>me</td>
                                <td>je</td>
                                <td>ve</td>
                                <td>sa</td>
                                <td>di</td>

                                </tr>

                            </thead>

                            <tbody>
                                <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td class="current-day event">7</td>
                                </tr>
                                <tr>
                                <td>8</td>
                                <td class="event">9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                </tr>
                                <tr>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td class="event">20</td>
                                <td>21</td>
                                </tr>

                                <tr>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                </tr>
                                <tr>
                                <td class="next-month">1</td>
                                <td class="next-month">2</td>
                                <td class="next-month">3</td>
                                <td class="next-month">4</td>
                                <td class="next-month">5</td>
                                <td class="next-month">6</td>
                                <td class="next-month">7</td>
                                </tr>
                                <tr>
                                <td class="next-month">8</td>
                                <td class="next-month">9</td>
                                <td class="next-month">10</td>
                                <td class="next-month">11</td>
                                <td class="next-month">12</td>
                                <td class="next-month">13</td>
                                <td class="next-month">14</td>
                                </tr>

                            </tbody>

                            </table>

                        </div> <!-- end calendar -->
                   </div> <!-- end container -->
                   <!--Fin agenda-->
</body>
</html>