{% load static %}



<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'myPWA/style.css' %}">
  <link rel="stylesheet" href="{% static 'myPWA/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'myPWAfont-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'myPWA/main.css' %}" type="text/css">

</head>
<body>

 <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h1>C'est le début de la fin</h1>
              <h4>Que le sort puisse vous être favorable</h4>
            </div>
          </div>
        </div>

<video id="video"></video>
<button id="startbutton">Prendre une photo</button>
<canvas id="canvas"></canvas>
<img src="http://placekitten.com/g/320/261" id="photo" alt="photo">

</body>
</html>