<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML5 Camera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">



</head>

<body>

        <video id="sourcevid" height='150' width='150' autoplay="true"  style='display:inline'></video>

		<div id="main" style='height:150px;width:150px;margin:auto;display:inline'>

        <canvas id="cvs" height='150' width='150'></canvas>

		</div>
<button onclick='clone()' style='height:50px;width:80px;margin:auto'>photo</button>
<textarea id='tar' style='width:50%;height:200px;'></textarea>
</body>
</html>
